<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cursadas</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-sm-6">
     <%= link_to new_course_path do %>
          <div class="card">
            <div class="card-body">
              + Nueva cursada
            </div>
          </div>
     <% end %>
    </div>
    <% @courses.each do |course| %>
      <div class="col-lg-2 col-sm-6">
        <%= link_to course do %>
          <div class="card">
            <div class="card-body">
              <%= course.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>