// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    margin-bottom: 20px;
    min-height: 88px;
}

.exam-td {
    white-space: nowrap;
    width: 110px;
}